@media all {
    header nav .ai-record:before {
        content: "\f544"; /* fas fa-robot */
    }
    .ai-records .no-resources:before,
    #ai-record .no-ai-records:before,
    .ai-record .no-resources:before {
        content: "\f544"; /* fas fa-robot */
    }
    #ai-records .property {
        display: inherit;
    }
    #ai-records .actions {
        float: right;
    }
    .ai-record-info span,
    .actions span,
    .actions span::before {
        width: 24px;
        height: 24px;
        line-height: 24px;
        vertical-align: top;
        border: 0;
        box-shadow: none;
        display: inline-block;
        text-align: right;
    }
    .actions span {
        opacity: 0.5;
    }
    .ai-record-info span {
        cursor: pointer;
        opacity: 0.5;
    }
    .ai-record-info span:focus,
    .ai-record-info span:hover,
    .actions span:focus,
    .actions span:hover {
        opacity: 1;
    }
    #ai-records.empty,
    #ai-records + .no-resources {
        display: none;
    }
    #ai-records.empty + .no-resources {
        display: block;
        padding: 0 24px;
    }
    #ai-records.empty + .no-resources:before {
        content: "\f544"; /* fas fa-robot */
    }
    #ai-records tr.delete {
        background-color: #fcc;
    }
    .ai-records .resource-details .ai-record-internal-id {
        font-size: 0.7em;
    }
    .ai-record table .values dd {
        width: 100%;
    }

    .ai-record table .resource-name {
        display: inline-block;
        vertical-align: bottom;
        margin-left: .5em;
        opacity: .5;
    }
    .ai-record table .resource-link .resource-name {
        margin-left: 0;
        opacity: 1;
    }

    .ai-records .ai-record-public {
        font-style: italic;
    }

    .ai-record .no-action,
    .ai-record .single.actions {
        float: right;
    }
    .ai-record .no-action span::before,
    .ai-record .single.actions a::before {
    }
    .actions .fa-spin::before {
        text-align: center;
        display: inline-block;
        /* position: fixed; */
    }
    .ai-record .o-icon-users,
    .ai-record .no-action::before {
        width: 24px;
        height: 24px;
        line-height: 24px;
        vertical-align: top;
        border: 0;
        box-shadow: none;
        opacity: .5;
        text-align: inherit;
    }

    .actions .no-action,
    .actions .no-action::before {
      width: 24px;
      height: 24px;
      line-height: 24px;
      vertical-align: top;
      border: 0;
      box-shadow: none;
      text-align: right;
    }

    .ai-record .resource-name.item-set::before {
        content: ""; /* item set */
    }
    .ai-record .resource-name.item::before {
        content: ""; /* item */
    }
    .ai-record .resource-name.media::before {
        content: ""; /* media */
    }
    .ai-record .o-icon-unreviewed::before {
        color: #FF0000;
        content: ""; /* question */
    }
    .ai-record .o-icon-reviewed::before {
        color: #00FF00;
        content: ""; /* check */
    }
    .ai-record .o-icon-proposed::before {
        color: #FFA500;
        content: ""; /* question */
    }
    .ai-record .o-icon-approve::before {
        color: #00FF00;
        content: ""; /* check */
    }
    .ai-record .o-icon-unvalidated::before,
    .ai-record .o-icon-unapprove::before {
        color: #FF0000;
        content: ""; /* cancel */
    }
    .ai-record .o-icon-validate-value::before,
    .ai-record .o-icon-validate::before {
        color: #FFA500;
        content: "\f359"; /* arrow left */
    }
    .ai-record .o-icon-validate-value.no-right::before,
    .ai-record .o-icon-validate.no-right::before {
        color: #FFA500;
        content: "\f359"; /* arrow left */
    }
    .ai-record .o-icon-validated::before {
        color: #00FF00;
        content: "\f359"; /* arrow left / equal not available iin 5.0.8 */
    }
    .ai-record .o-icon-unvalidable::before {
        color: #FFA500;
        content: ""; /* minus-circle */
    }
    .ai-record .o-icon-validated-value::before {
        color: #00FF00;
        content: ""; /* check */
    }
    .ai-record .o-icon-unvalidated-value::before {
        color: #FF0000;
        content: ""; /* cancel */
    }
    .ai-record .o-icon-unknown-value::before {
        color: #FF8800;
        content: ""; /* exclamation */
    }
    .ai-record .o-icon-not-validable-value::before {
        color: #FF8800;
        content: ""; /* exclamation */
    }
    .ai-record .o-icon-undefined::before {
        color: #FF0000;
        content: ""; /* exclamation */
    }
    .ai-record .o-icon-none::before {
        color: #FFFFFF;
        content: "";
    }

    .ai-record-medias-label {
        border-bottom: solid 1px;
    }

    .proposal-media {
        border-bottom: solid 1px;
        opacity: 0.7;
    }

    .single-action {
        margin: 0 0 0 auto;
        padding: 0;
    }
    .single-action span,
    .single-action span::before,
    .single-action a,
    .single-action a::before,
    .single-action button,
    .single-action button::before {
        width: 24px;
        height: 24px;
        line-height: 24px;
        text-align: right;
        vertical-align: top;
        border: 0;
        box-shadow: none;
    }

    .ai-record .ai-record-email,
    .ai-record .ai-record-date,
    .ai-record .ai-record-date-modified {
        opacity: 0.6;
    }
    .ai-record .ai-record-id {
        opacity: 0.4;
    }
    .ai-record .original-value {
        opacity: 0.6;
    }
    .ai-record .remove-value {
       text-decoration: line-through;
    }

    /* Modal */
    /* Modal background */
    .create_generate .modal {
        display: none; /* Hidden by default */
        position: fixed; /* Stay in place */
        z-index: 1; /* Sit on top */
        padding-top: 100px; /* Location of the box */
        left: 0;
        top: 0;
        width: 100%; /* Full width */
        height: 100%; /* Full height */
        overflow: auto; /* Enable scroll if needed */
        background-color: rgb(0,0,0); /* Fallback color */
        background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    }
    /* Modal content */
    .create_generate .modal-content {
        background-color: #fefefe;
        margin: auto;
        padding: 20px;
        border: 1px solid #888;
        width: 60%;
    }
    /* Modal close button */
    .create_generate .close {
        color: #aaaaaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
    }
    .create_generate .close:hover,
    .create_generate .close:focus {
        color: #000;
        text-decoration: none;
        cursor: pointer;
    }

    /* Sidebar */

    .ai-record.meta-group .single.actions,
    .ai-record.meta-group .no-action::before {
        float: right;
    }

    .ai-record.meta-group span,
    .ai-record .meta-group span {
        display: inline;
        hyphens: auto;
        word-wrap: break-word;
    }

    .resource-details .ai-record dd {
        width: 100%;
        margin-left: 0;
        opacity: .5;
    }
    .resource-details .ai-record dt {
        width: 100%;
        margin-bottom: .5em;
    }
    .ai-records.browse .sidebar label {
        margin: 0 0 0 0;
        padding: 0 24px 0 0;
    }
    .ai-records.browse .sidebar label::after {
        top: initial;
    }
    .ai-records.browse .sidebar .meta-group.ai-record {
        justify-content: normal;
    }
    .ai-records.browse .sidebar .meta-group.ai-record .ai-record {
        padding-left: 12px;
    }

    /** Dialog. */

    #content dialog.popup-dialog {
        margin: auto;
    }
    dialog .dialog-header-close-button {
        float: right;
    }
}

@media screen and (max-width: 640px) {
    fieldset.section > #ai-records.empty + .no-resources {
        display: none;
    }
    fieldset.section.mobile-active > #ai-records.empty + .no-resources {
        display: block;
        margin-top: 48px;
    }
}
